<ul class="nav nav-sidebar">
  <li class="<%= 'active' if current_page?('/') %>">
    <%= link_to 'Overview', root_path %>
  </li>
  <li class="<%= 'active' if current_page?('/getting-started') %>">
    <%= link_to 'Getting Started', getting_started_path %>
  </li>
  <li class="<%= 'active' if current_page?('/add-project-to-git') %>">
    <%= link_to 'Add The Project To A Git Repo', add_project_to_git_path %>
  </li>
  <li class="<%= 'active' if current_page?('/running-application') %>">
    <%= link_to 'Running Your Application Locally', running_application_path %>
  </li>
  <li class="<%= 'active' if current_page?('/creating-projects') %>">
    <%= link_to 'Create Projects', creating_projects_path %>
  </li>
  <li class="<%= 'active' if current_page?('/validate-project-titles') %>">
    <%= link_to 'Validate Project Titles', validate_project_titles_path %>
  </li>
  <li class="<%= 'active' if current_page?('/authentication-with-devise') %>">
    <%= link_to 'Authentication with Devise', authentication_with_devise_path %>
  </li>
  <li class="<%= 'active' if current_page?('/setup-users') %>">
    <%= link_to 'Setup Users with Devise', setup_users_path %>
  </li>
  <li class="<%= 'active' if current_page?('/add-authentication-forms-and-links') %>">
    <%= link_to 'Add Authentication Forms and Links', add_authentication_forms_and_links_path %>
  </li>
  <li class="<%= 'active' if current_page?('/create-comments') %>">
    <%= link_to 'Create Comments', create_comments_path %>
  </li>
  <li class="<%= 'active' if current_page?('/display-comments') %>">
    <%= link_to 'Display Comments', display_comments_path %>
  </li>
  <li class="<%= 'active' if current_page?('/submit-comments') %>">
    <%= link_to 'Submit Comments', submit_comments_path %>
  </li>
  <li class="<%= 'active' if current_page?('/add-projects-workflow') %>">
    <%= link_to 'Add Workflow to your Projects', add_projects_workflow_path %>
  </li>
  <li class="<%= 'active' if current_page?('/next-steps') %>">
    <%= link_to 'Next Steps', next_steps_path %>
  </li>
</ul>